#heroArea {
  padding-top: 11vh;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right top, #d9558a, #fe6564, #ff8d32, #e8bd00, #a8eb12);

}

#headingsWrap {
  padding: 45px 0 52px 0;
  width: 50%;
  height: 30vh;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  color: white;
}

#webpages {
  display: block;
  margin: 0 auto;
}

.name {
  font-size: 90px;
}

#lastName {
  // position: absolute;
  top: 490px;
  left: 0;
  right: 0;
}

#jobTitle {
  font-size: 30px;
}

