#heroArea {
  height: 100vh;
  overflow: hidden;
  // background: linear-gradient(to right top, #d9558a, #fe6564, #ff8d32, #e8bd00, #a8eb12);
  background-image: url('../images/heroBackground.png');
  background-attachment: fixed;

  background-size: cover;
}

#gradient {
  // padding-top: 11vh;
  // background-image: linear-gradient(to right, rgba(217,85,138, 0.5), rgba(254,101,100, 0.5) rgba(255,141,50, 0.5));
  // background-image: linear-gradient(to right, rgb(217,85,138), rgb(254,101,100));
  opacity: 0.2;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
}

#headingsWrap {
  padding: 45px 0 52px 0;
  width: 50%;
  height: 30vh;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  color: white;
}

#webpages {
  display: block;
  margin: 100px auto;
}

.name {
  font-size: 90px;
}

#jobTitle {
  font-size: 30px;
}

#phillyBackground {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

#downIcon {
  margin: 0 auto;
  display: block;
  height: 50px;
}