#projectSection {
    color: white;
    display: inline-block;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.project {
    margin-top: 50vh;
    // border: 2px solid white;
    display: inline-block;
    width: 80%;
    height: 50vh;
    // background: red;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.side {
    // border: 2px solid black;
    margin-right: 50px;
}

.wrapper {
    margin-top: 25vh;
}

.projectName {
    font-size: 45px;
    letter-spacing: -4px;

}

.projectHeadline {
    font-size: 60px;
    line-height: 110%;
    font-weight: 900;
}

.projectDescription {
    font-size: 20px;
    width: 90%;
    line-height: 110%;
    font-weight: 900;

}

.headings {
    padding-bottom: 20px;
}

.checkItOut {
    margin-top: 20px;
}

.projectSS {
    height: 90%;
    width: 100%;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.39) 0 50px 70px;
}